<div class="wrapper-login pagination-centered">
  <div class="container" id="dietform">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <form class="form-diet" id="newDiet" action="/diets/new" method="POST" enctype="multipart/form-data">
          <h2 class="form-signin-heading">Crea tu dieta</h2>
          <label for="name">Nombre:</label>
          <input type="text" class="form-control" name="name" placeholder="Mi nueva dieta" required="" autofocus="" />
          <label for="categories">Categorias:</label>
          <input type="text" class="form-control" name="categories" placeholder="#Mediterranea #Proteinica" required="" />
          <label for="aim">Objetivo:</label>
          <input type="text" class="form-control" name="aim" placeholder="Perder grasa, ganar musculatura" required="" autofocus="" />
          <label for="photo">Foto:</label>
          <input class="photoInput" class="form-control" type="file" name="photo">
          <label for="description">Descripcion:</label><br>
          <textarea class="textDiet"name="description" rows="8" placeholder="Escribe aqui toda la informacion de la dieta" form="newDiet"></textarea>

          <button class="btn btn-lg btn-primary btn-block" id="btnlogin" type="submit">Crear</button>
          <% if (typeof message != "undefined") { %>
            <div class="error-message">
              <%= message %>
            </div>
            <% } %>
        </form>
      </div>
    </div>
  </div>
</div>
